
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<script src="~/js/MyScriptStyle.js"></script>

<div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
        <div class="container">
            <!--content Start -->
            <section class="content">
                <div class="anim-content">
                    <div class="grid-full">
                        <h3 class="section-title"> Contacts</h3>
                        <div class="clear"></div>
                        <div class="separator"></div>
                    </div>
                    <div class="page-box">
                        <div class="grid-full">
                            <div class="map-box">
                                <div id="map_addresses" class="map"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="separator"></div>
                        <div class="grid-half">
                            <p class="align-text"></p>
                            <ul class="contact-list">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span class="transition">+9230458967</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="#" class="transition">Uhassan54@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-skype"></i>
                                    <a href="skype:yournik?chat" class="transition">your Usman</a>
                                </li>
                                <li>
                                    <i class="fa fa-home"></i>
                                    <span class="transition"> 27th Nodel NY</span>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-half">
                            <div id="contact-form">
                                <div id="message"></div>
                                <form method="post" action="/Home/Send" enctype="multipart/form-data">
                                 @*   <input name="name" type="text" id="name" onfocus="if(this.value == 'Name') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Name'; }" value="Name">*@
                                    <input name="name" type="text" placeholder="Name"  class="textbox-normal" onblur='return empty("NameR") '>


                              @*      <input name="email" type="text" id="email" onfocus="if(this.value == 'E-mail') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'E-mail'; }" value="E-mail">*@
                                    <input name="email" type="text" placeholder="Email" class="textbox-normal" onblur='return empty("EmailR")' >
                                    <textarea name="message" placeholder="Message" class="textbox-normal" onblur='return empty("MessageR")'>Message</textarea>
                                    <input type="submit" class="send_message transition" id="submit" value="Send" onclick=" return validation() " />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--content end -->
        </div>
        <div class="clear"></div>
        <!--================= Footer start ================-->
        <div class="container">
            <footer>
                <div class="footer-logo"></div>
                <div class="grid-full">
                    <div class="policy-box">
                        <p>&copy; 2016 All Rights Reserved by U&S</p>
                    </div>
                    <div class="to-top-box"><a href="#main" class="scroll-btn transition"><i class="fa fa-angle-up"></i></a></div>
                </div>
            </footer>
        </div>
        
    </div>
    <!-- Content-holder end-->
</div>