
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <!--================= content-holder start ================-->
    <div class="content-holder" id="dunamic-content">
        <div class="container">
            <!--content Start -->
            <section class="content">
                <div class="anim-content">
                    <div class="anim-content">
                        <div class="grid-full">
                            <h3 class="section-title"> Resume</h3>
                            <div class="clear"></div>
                            <div class="separator"></div>
                        </div>
                                    
                        <div class="page-box">
                            <div class="grid-full">
                                     
                                <div class="resume-container">
                                    <!-- resume-head -->
                                    <div class="resume-head">
                                       
                                        <h3>EMPLOYMENT</h3>
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="resume-info">
                                        <span class="resume-date">2014-2015</span>
                                        <div class="clear"></div>
                                        <h5>Microtechx</h5>
                                    </div>
                                    <div class="resume-box-holder">
                                        <div class="resume-box">
                                            <div class="resume-decor"></div>
                                            <div class="resume-item">MSA</div>
                                            <h6>Marketing</h6>
                                           
                                            <div class="clear"></div>
                                            <div class="separator float-left"></div>
                                            <div class="clear"></div>
                                            @*<p class="align-text">Nulla tincidunt interdum leo. Cras molestie eros velit, vitae malesuada mauris tincidunt ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. Ut quis malesuada urna. Nunc cursus aliquet est. In sit amet risus sed lacus tincidunt volutpat. </p>*@
                                        </div>
                                    </div>
                                    <div class="resume-info">
                                        <span class="resume-date">2015-2016</span>
                                        <div class="clear"></div>
                                        <h5>Gamma Technology</h5>
                                    </div>
                                    <div class="resume-box-holder">
                                        <div class="resume-box">
                                            <div class="resume-decor"></div>
                                            <div class="resume-item">2012-2016</div>
                                            <h6>Hard worker </h6>
                                            <div class="clear"></div>
                                            <div class="separator float-left"></div>
                                            <div class="clear"></div>
                                        @*    <p class="align-text">Nulla tincidunt interdum leo. Cras molestie eros velit, vitae malesuada mauris tincidunt ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. </p>*@
                                        </div>
                                    </div>
                                    <!-- resume-head -->
                                    <div class="resume-head">
                                        <h3>College</h3>
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="resume-info">
                                        <span class="resume-date">2012-2014</span>
                                        <div class="clear"></div>
                                        <h5>NCBA&E</h5>
                                    </div>
                                    <div class="resume-box-holder">
                                        <div class="resume-box">
                                            <div class="resume-decor"></div>
                                            <div class="resume-item">Computer Science</div>
                                            <h6></h6>
                                            <div class="clear"></div>
                                            <div class="separator float-left"></div>
                                            <div class="clear"></div>
                                         
                                     @*       <p class="align-text">Nulla tincidunt interdum leo. Cras molestie eros velit, vitae malesuada mauris tincidunt ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. Ut quis malesuada urna. Nunc cursus aliquet est. In sit amet risus sed lacus tincidunt volutpat. </p>*@
                                        
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- resume-head -->
                                    <div class="resume-head">
                                        <h3>Skills</h3>
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <div class="resume-info">
                                        <h5>Development Skills</h5>
                                    </div>
                                    <div class="resume-box-holder">
                                        <div class="resume-box">
                                            <div class="resume-decor"></div>
                                            <!--================= Skills start ================-->
                                            <div class="custom-skillbar-holder">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span>C#</span></div>
                                                    <div class="skill-bar-percent">70%</div>
                                                    <div class="skillbar-bg" data-percent="45%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span>JavaScript</span></div>
                                                    <div class="skill-bar-percent">35%</div>
                                                    <div class="skillbar-bg" data-percent="35%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span>HTML5</span></div>
                                                    <div class="skill-bar-percent">80%</div>
                                                    <div class="skillbar-bg" data-percent="80%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span>CSS3</span></div>
                                                    <div class="skill-bar-percent">80%</div>
                                                    <div class="skillbar-bg" data-percent="80%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <div class="custom-skillbar-title"><span>Sql</span></div>
                                                    <div class="skill-bar-percent">60%</div>
                                                    <div class="skillbar-bg" data-percent="60%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <div class="custom-skillbar-title"><span>Unity 3d</span></div>
                                                    <div class="skill-bar-percent">40%</div>
                                                    <div class="skillbar-bg" data-percent="40%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>



                                                </div>
                                            </div>
                                            <!-- Skills end-->
                                        </div>
                                    </div>
                                </div>

                               @* <a href="#" class="button float-button  transition hide-icon"><i class="fa fa-download transition2"></i> <span class="text transition color-bg">Download resume</span></a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--content end -->
        </div>
        <div class="clear"></div>
        <!--================= Footer start ================-->
        <div class="container">
            <footer>
                <div class="footer-logo"></div>
                <div class="grid-full">
                    <div class="policy-box">
                        <p>&copy; 2016 All Rights Reserved by U&S</p>
                    </div>
                    <div class="to-top-box"><a href="#main" class="scroll-btn transition"><i class="fa fa-angle-up"></i></a></div>
                </div>
            </footer>
        </div>
        
    </div>
    <!-- Content-holder end-->
</div>